/* tags selector */
body {
  margin: 10px;
}

/* id selector */
#products {
  margin: 0 auto;
  width: 250px;
}

/* class selector */
.product {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 10px;
}

/* selects just the first p element after the product section */
.product > p {
  color: rgb(62, 11, 191);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* selects all the ul elements after the product2 article */
.product2 ul {
  color: red;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* selects imediatly the h5 element that comes after the product2 article */
.product2 + h5 {
  color: rgb(147, 129, 11);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* selects all the h5 element that come after the product2 article */
.product2 ~ h5 {
  color: rgb(147, 129, 11);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* conclusion : relational selectors are great when you know that the referenced element won't changed in the future
   , they have also a slower rendering speaking of the browser, it's not generally a good practice*/
