/* tags selector */
body {
  margin: 10px;
}

/* pseudo element : first-letter of p */
p::first-letter {
  color: red;
  font-weight: 140%;
}

/* selection background color */
::selection {
  background-color: pink;
}

/* before pseudo element */
p::before {
  content: '...';
  display: block; /* convert the inline level element to a block level element*/
}
/* after pseudo element */
p::after {
  content: '...';
  display: block; /* convert the inline level element to a block level element*/
}
